.event-popup {
  width: auto;
  min-height: auto;
  background: #ffffff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  margin: auto;
}

.club-name {
  font-size: 18px;
  font-family: Inter, sans-serif;
  margin-bottom: 8px;
  color: #000;
}

.event-title {
  font-size: 48px;
  font-weight: 700;
  font-family: Inter, sans-serif;
  margin: 0;
  color: #000;
}

.location,
.datetime {
  font-size: 20px;
  margin-top: 12px;
  font-family: Inter, sans-serif;
  color: #000;
}

.event-image {
   width: 60%;        
  max-width: 500px;  
  border-radius: 20px;
  display: block;
  margin-top: 32px;
  margin-bottom: 0;
}

.event-description {
   width: 80%;
  font-size: 18px;
  font-family: Inter, sans-serif;
  line-height: 1.6;
  color: #000;
  margin-top: 72px;
}

.action-row {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.interest-btn {
  background: #085b0f;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

.bell-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

