.club-pinboard-page---user-view {
  height: 4166px;
  width: 1440px;
  background-color: #ffffff;
}
.group-9 {
  height: 4166px;
  width: 1440px;
}
.club-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.text-1 {
  text-align: left;
  vertical-align: top;
  font-size: 64px;
  font-family: Inter;
  letter-spacing: -2%;
  line-height: auto;
  color: #000000;
}
.navigation {
  height: 160px;
  width: 1440px;
  background-color: #ffffff;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}
.text-2, .text-3, .text-4, .text-5 {
  text-align: left;
  vertical-align: middle;
  font-size: 20px;
  font-family: Inter;
  line-height: 150%;
  text-decoration: underline;
  color: #000000;
}
.frame-1-3-2-1-3-1-7-4-6-8, 
.frame-1-3-2-1-3-1-7-4-6-7 {
  height: 32px;
  width: 124px;
}
.frame-1-3-2-1-3-1-7-4-6-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}
.text-6 {
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Roboto;
  line-height: 32px;
  color: #000000;
}
.img-7 {
  height: 24px;
  width: 24px;
  background-color: #ffffff;
}
.button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 8px;
  background-color: #000000;
}
.text-8 {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: 150%;
  color: #ffffff;
}
.group-4 {
  height: 144px;
  width: 499px;
}
.text-1-0, .text-1-1, .text-1-2, .text-1-3 {
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Roboto;
  line-height: 32px;
  color: #000000;
}
.group-3 {
  height: 114px;
  width: 537px;
}
.text-1-4, .text-1-5, .text-1-6, .text-1-7 {
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Roboto;
  line-height: 32px;
  color: #000000;
}
.divider {
  transform: rotate(-1deg);
  height: 0px;
  width: 1280px;
  border: 1px solid #e6e6e6;
}
.navigation-/-footer {
  height: 264px;
  width: 1440px;
  background-color: #ffffff;
}
.text-1-8 {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: 150%;
  color: #000000;
}
.text-1-9 {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: 150%;
  color: #444444;
}
.text-2-0 {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}
.text-2-1 {
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Inter;
  line-height: 150%;
  color: #000000;
}
.group-5 {
  height: 984px;
  width: 1056px;
}
.postit {
  transform: rotate(-13deg);
  height: 204px;
  width: 242px;
  background-color: #ebd47c;
}
.postit:nth-of-type(2) {
  transform: rotate(10deg);
}
.text-2-5 {
  transform: rotate(9deg);
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Roboto;
  line-height: 32px;
  color: #000000;
}
.text-2-6 {
  transform: rotate(-13deg);
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Roboto;
  line-height: 32px;
  color: #000000;
}
.text-2-9 {
  text-align: left;
  vertical-align: top;
  font-size: 20px;
  font-family: Inter;
  line-height: 150%;
  color: #000000;
}
.joinclub {
  border-radius: 4px;
  height: 42px;
  width: 172px;
  background-color: #085b0f;
  text-align: center;
  line-height: 42px;
  font-family: Poppins;
  font-size: 13px;
  color: #ffffff;
}
.upcoming-events-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.text-5-5 {
  text-align: left;
  vertical-align: top;
  font-size: 64px;
  font-family: Inter;
  letter-spacing: -2%;
  line-height: auto;
  color: #000000;
}
.group-7 {
  height: 912px;
  width: 1022px;
}
.component-5, .component-6, .component-7, .component-8 {
  height: 424px;
  width: 470px;
  background-color: #ffffff;
}
.event {
  height: 424px;
  width: 470px;
  background-color: #ffffff;
}
.rectangle-6 {
  border-radius: 28px;
  height: 424px;
  width: 470px;
  background-color: #c4ceb2;
}
.text-3-5, .text-3-6, .text-3-7, .text-3-8,
.text-4-0, .text-4-1, .text-4-2, .text-4-3,
.text-4-5, .text-4-6, .text-4-7, .text-4-8,
.text-5-0, .text-5-1, .text-5-2, .text-5-3 {
  text-align: left;
  vertical-align: middle;
  font-size: 24px;
  font-family: Roboto;
  line-height: 32px;
  color: #000000;
}
.img-3-9, .img-4-4, .img-4-9, .img-5-4 {
  border-radius: 29px;
  height: 258px;
  width: 388px;
}
